<style>
.cover {
	padding: 70px 0px ;
	margin: 0px;

	text-align: center;
}

.cover h1 {
	margin: 30px;
}

.cover p {
	width: 70%;
	margin: 30px auto;
	font-size: 2em;
}

.cover a {
	font-size: 1.5em;
	line-height: 2em;
	padding-right: 30px;
	padding-left: 30px;
}

@media (max-width: 768px) {
	.cover {
		padding: 80px 0px ;
		margin: 0px;

		text-align: center;
	}

	.cover h1 {
		margin-bottom: 10px;
	}

	.cover p {
		width: 90%;
		font-size: 1.2em;
		margin-top: 10px;
	}

	.cover a {
		font-size: 1em;
		line-height: 2em;
		padding-right: 10px;
		padding-left: 10px;
	}
}

.video {
	text-align: center;
}

.video iframe {
	width: 750px;
	height: 422px;
}

@media (max-width: 768px) {
	.video iframe {
		width: 500px;
		height: 281px;
	}
}

.product img {
	height: 150px;
}

.cover-block {
	padding-top: 30px;
	margin-top: 70px;
	margin-bottom: 70px;
	border-top: 1px solid #CECECE;
}

.cover-block h1 {
	margin: 60px 30px;
}

.first-block {
	border: none;
	margin-top: 0px;
}

.product .btn {
	margin-bottom: 30px;
}

.my-buttons a {
	margin: 10px;
}

#contacts img {
}

</style>


<div class="jumbotron cover">
	<h1>Notre métier : recycler la chaleur des serveurs informatiques en eau chaude sanitaire.</h1>
	<div class="my-buttons row">
		<div class="col-md-6">
			<a class="btn btn-success" ng-href="{{url('/cours')}}">Je veux un serveur écologique !</a>
		</div>
		<div class="col-md-6">
			<a class="btn btn-success" ng-href="{{url('/cours')}}">Je veux de l'eau chaude gratuite !</a>
		</div>
	</div>
</div>


<div id="client_video" class="container text-center cover-block first-block">
	<h1>Nos clients parlent de nous :</h1>
	<div class="video">
		<iframe src="//player.vimeo.com/video/112564337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/112564337">Salle serveur écoresponsable</a> from <a href="http://vimeo.com/user34701345">Stimergy</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <p>Syst&egrave;me de recyclage de chaleur issue des serveurs au sein de l&#039;Universit&eacute; Jean Moulin Lyon 3</p>
	</div>
</div>

<div id="stimergy_video" class="container text-center cover-block">
	<h1>Stimergy en 2 minutes :</h1>
	<div class="video">
		<iframe src="//www.youtube.com/embed/g6nuigMGGPQ" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div id="partners" class="container text-center cover-block">
	<h1>Nos partenaires :</h1>
	<img width="90%" src="img/partners/all.png" alt="Partenaires" />
</div>

<div id="contacts" class="container cover-block">
	<h1 class="text-center">Contacts</h1>
	<div class="row">
		<div class="col-md-6 text-center">
			<p>
				<a href="http://www.stimergy.com" target="_blank">
					<img src="img/stimergy_logo_white.png">
				</a><br/>
				<b>Stimergy SAS - Rhône-Alpes</b><br/>
				SIRET: 793 625 351 00010<br/>
				Dirigeant : Christophe PERRON<br/>
				La côte du Crozet<br/>
				38770 MONTEYNARD<br/>
				FRANCE<br/>
				Mail: contact@stimergy.com<br/><br/><br/>
				<a target="_blank" href="https://www.google.fr/maps/place/La+C%C3%B4te+du+Crozet,+38770+Monteynard/@44.961377,5.701835,17z/data=!3m1!4b1!4m2!3m1!1s0x478a86fb388c5abb:0xe11ac6777b44b9bb">
					<img width="200" src="img/plan_2.png" alt="Plan" />
				<a/>
			</p>
		</div>
		<div class="col-md-6 text-center">
			<p>
				<a href="http://www.stimergy.com" target="_blank">
					<img src="img/stimergy_logo_white.png">
				</a><br/>
				<b>Stimergy SAS - Ile-de-France</b><br/>
				Hébergé chez <a href="http://www.jlg-consulting.com">JLG-Consulting</a><br/>
				Responsable : Jean-Louis GUENEGO<br/>
				2 allée du Commandant Charcot<br/>
				77200 TORCY<br/>
				FRANCE<br/>
				Mail: contact@stimergy.com<br/><br/><br/>
				<a target="_blank" href="https://maps.google.fr/maps?q=2+allee+du+commandant+charcot+77200+torcy&ie=UTF8&hq=&hnear=2+All%C3%A9e+du+Commandant+Charcot,+77200+Torcy,+Seine-et-Marne,+%C3%8Ele-de-France&t=m&z=14&ll=48.847984,2.6399&source=embed">
					<img width="200" src="img/plan.jpg" alt="Plan" />
				<a/>
			</p>
		</div>
	</div>

</div>

<div>&nbsp;</div>