<style>
.lesson-title {
	display: inline-block;
	margin: 20px 50px;
}

.lesson-title a {
	text-decoration: none;
}

@media (max-width: 768px) {
	.lesson-title {
		display: block;
		margin: 10px 0px;
	}

	.lesson-logo {
		height: 50px;
	}

	.lesson-title h2 {
		display: inline-block;
		vertical-align: middle;
		margin: 0px;
	}
}
</style>

<div class="container-fluid">
	<h1>{{json_file.title}}</h1>
	<div class="text-center">
		<a ng-repeat="item in json_file.content"
			ng-href="{{url('/' + json_file.path + '/' + item.path)}}">
			<div class="lesson-title">
					<img ng-src="{{'img/' + item.img}}" class="lesson-logo" alt="{{item.title}}" />
					<h2>{{item.title}}</h2>
			</div>
		</a>
	</div>
</div>