<header ng-class="{'navbar-fixed-top': config.fixedHeader}">

	<div class="navbar navbar-inverse my-header" role="navigation"
		ng-class="{'navbar-fixed-top': config.fixedHeader}">

		<div class="container">

			<div class="navbar-header">
				<button id="menu-xs-button" type="button"
					class="navbar-toggle collapsed" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-href="{{url('/')}}">
					<img height="50" src="img/stimergy.png" /><img height="50" src="img/stimergy_logo.png" />
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{active: location.path() == '/'}">
						<a ng-href="{{url('/')}}">Accueil</a>
					</li>
					<li class="dropdown" ng-class="{active: location.path().startsWith('/products')}">
						<a class="dropdown-toogle" data-toggle="dropdown" href="javascrip:void(0)">
							Produits <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-href="{{url('/products')}}">Tous les produits</a>
							</li>
							<li class="divider"></li>
							<li>
								<a ng-href="{{url('/products/cuve_2014')}}">Cuve C2014</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" ng-class="{active: location.path().startsWith('/services')}">
						<a class="dropdown-toogle" data-toggle="dropdown" href="javascrip:void(0)">
							Services <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-href="{{url('/services')}}">Tous les services</a>
							</li>
							<li class="divider"></li>
							<li ng-repeat="service in service_list.content" on-finish-render="fix-menu"
								 ng-class="{active: location.path().startsWith('/service/' + service.path)}">
								<a ng-href="{{url('/services/' + service.path)}}">{{service.title}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" ng-class="{active: location.path().startsWith('/information')}">
						<a class="dropdown-toogle" data-toggle="dropdown" href="javascrip:void(0)">
							Informations <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="information in information_list.content" on-finish-render="fix-menu"
								 ng-class="{active: location.path().startsWith('/information/' + information.path)}">
								<a ng-href="{{url('/information/' + information.path)}}">{{information.title}}</a>
							</li>
						</ul>
					</li>

					<li class="dropdown" ng-class="{active: location.path().startsWith('/help')}">
						<a class="dropdown-toogle" data-toggle="dropdown" href="javascrip:void(0)">
							À propos <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" ng-click="goTo('/', 'partners')">Partenaires</a></li>
							<li><a href="javascript:void(0)" ng-click="goTo('/', 'contacts')">Contacts</a></li>
							<li><a ng-href="{{url('/sitemap')}}">Plan du site</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="header_breadcrumb my-header"
		ng-class="{
			fixed: config.fixedHeader,
			'hidden-xs': !config.showBreadcrumbs
		}"
		ng-show="location.path() != '/'">
		<ol class="breadcrumb">
			<li></li>
			<li ng-repeat="name in breadcrumb">
				<a href="{{breadcrumb_href($index)}}">{{hash[name]}}</a>
			</li>
		</ol>
	</div>
</header>

<script>
	$(document).ready(fixHeaderHeight);
</script>